<!-- NOTHING TO TRANSLATE -->
<div class="grow p-4 max-w-none w-full prose prose-ncs-dark prose-headings:mb-1 prose-headings:mt-0 rounded">
  <details <%= jam.winners.any? ? nil : "open" %>>
    <summary class="select-none cursor-pointer">
      <h2 class="inline">
        <span class="text-ncs-dark-300"><%= jam.tag %></span>
        <%= jam.name %>
      </h2>
    </summary>
    <p class="text-ncs-dark-300 mb-0">
      Submissions open from
      <%= local_time(jam.start_at, class: "text-ncs-dark-100") %>
      to <%= local_time(jam.end_at, class: "text-ncs-dark-100") %>.
    </p>
    <p class="mt-0 mb-0">
      <%
        statuses = {
          open: "currently accepting submissions.",
          future: "not yet accepting submissions.",
          past: "no longer accepting submissions."
        }
      %>
      Jam is <%= statuses[jam.status] %>
    </p>
    <p class="mt-2 mb-4 font-bold text-lg">Theme: <%= jam.status == :future ? "To be announced" : jam.theme %></p>
    <%= markdown jam.description %>
  </details>
</div>

<% if jam.winners.any? %>
  <h2 class="font-bold text-2xl text-ncs-dark-100 my-2 text-center">Jam Winners</h2>
  <div class="flex justify-center content-stretch gap-4 flex-wrap">
    <% jam.winners.order_by_place.each_with_index do |winner, index| %>
      <div class="grid max-w-[235px] w-full">
        <%= render Gallery::SkinCardComponent.new(skin_card: winner.skin, params: @gallery_params, show_visibility: false) do |card| %>
          <% card.with_overlay do %>
            <h3 class="absolute top-1 left-1 z-10 text-4xl text-amber-500">#<%= index + 1 %></h3>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<h2 class="font-bold text-2xl text-ncs-dark-100 mt-2 text-center">Jam Contestants</h2>