<!-- TODO -->
<div class="flex flex-col gap-2 bg-ncs-dark-800 p-2 pb-4 rounded-b text-ncs-dark-300">
  <div>
    <% if !params.empty? %>
      <%= link_to "Clear All", skins_gallery_path, class: "underline" %>
    <% end %>
    <%= link_to "Random Skin", random_skin_path, class: "underline" %>
  </div>
  <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Popular Tags:</h3>
  <div class="flex flex-wrap items-center gap-1">
    <% tags.each do |tag| %>
      <%= skins_gallery_tag_filter_tag params, tag.name, "" %>
    <% end %>
  </div>
  <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Models:</h3>
  <div class="flex flex-wrap items-center gap-1">
    <% Skin.models.keys.each do |model| %>
      <%= skins_gallery_filter_tag params, :model, model, "", model.titleize %>
    <% end %>
  </div>
  <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Parts:</h3>
  <div class="flex flex-wrap gap-1">
    <% SkinPart.all.each do |part| %>
      <%= skins_gallery_filter_tag params, :part, part.name, "" %>
    <% end %>
  </div>
  <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Categories:</h3>
  <div class="flex flex-wrap items-center gap-1">
    <% SkinCategory.all.each do |category| %>
      <%= skins_gallery_filter_tag params, :category, category.name, "" %>
    <% end %>
  </div>
  <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Created At:</h3>
  <div class="flex flex-wrap items-center gap-1">
    <%
      date_ranges = {
        today: "0", last_7_days: "7", last_30_days: "30", last_90_days: "90", last_year: "365"
      }
    %>
    <% date_ranges.each do |title, offset| %>
      <%= skins_gallery_filter_tag params, :date_offset, offset, "", title.to_s.titleize %>
    <% end %>
  </div>
  <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Order By:</h3>
  <div class="flex flex-wrap gap-1">
    <div class="flex flex-wrap items-center gap-1">
      <%
        orderings = {
          "hot" => "Hot",
          "favourite" => "Most Favourited",
          "new" => "Newest",
          "old" => "Oldest",
          "new_updated" => "Most Recently Updated",
          "old_updated" => "Least Recently Updated"
        }
      %>
      <% orderings.each do |order, title| %>
        <%= skins_gallery_filter_tag params, :order, order, "", title %>
      <% end %>
      <% random = (params[:order].to_s.start_with?("random~") ? params[:order] : "random~#{seed64}" ) %>
      <%= skins_gallery_filter_tag params, :order, random, "", "Random" %>
    </div>
  </div>
  <% if current_user.present? %>
    <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
    <h3 class="font-bold text-ncs-dark-100">Relevant to Me:</h3>
    <div class="flex flex-wrap gap-1">
      <div class="flex flex-wrap items-center gap-1">
        <%= skins_gallery_filter_tag params.except(:favourited_by), :user, current_user.name, "", "My Skins" %>
        <%= skins_gallery_filter_tag params.except(:user), :favourited_by, current_user.name, "", "My Favourites" %>
        <% if current_user.authorized?(:moderator) %>
          <%= skins_gallery_filter_tag params, :hidden, "true", "Hidden Skins", "Hidden Skins" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>