<%= render Gallery::CardComponent.new(url: @banner.to_title_path) do |card| %>
  <% card.with_overlay do %>
    <% if !@banner.survival_friendly? %>
      <div class="absolute top-0 left-0 p-2">
        <%= heroicon "command-line", class: "text-ncs-dark-300", title: "Can only be obtained through commands." %>
      </div>
    <% end %>
    <div class="absolute top-0 right-0 p-2">
      <%= render partial: "banners/banner_favourite", locals: { banner: @banner, show_guests: true, redirect: request.fullpath } %>
    </div>
  <% end %>

  <% card.with_preview do %>
    <div class="flex items-center justify-center bg-ncs-grid bg-center rounded py-4 px-8 h-[192px]">
      <%= render Gallery::BannerPreviewComponent.new(banner: @banner, shield: shield?) %>
    </div>
  <% end %>

  <div class="h-full flex flex-col justify-between">
    <div class="mb-1 h-4">
      <% if @banner.tag_cache? %>
        <div class="line-clamp-1 text-ncs-dark-300 text-xs">
          <% @banner.cached_tags.each do |tag| %>
            <%= banners_gallery_tag_filter_tag @params, tag.name, "#{tag.name} - #{tag.taggings_count}" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to @banner.name, @banner.to_title_path, class: "text-xl line-clamp-2 leading-5 break-words max-w-52 h-[42px]" %>
    <p class="text-ncs-dark-300 text-xs">
      <% if @banner.banner_style? %>
        <%= banners_gallery_filter_tag @params, :style, "banner", "Banner", "Banner" %>
      <% elsif @banner.shield_style? %>
        <%= banners_gallery_filter_tag @params, :style, "shield", "Shield", "Shield" %>
      <% else %>
        <%= banners_gallery_filter_tag @params.merge(style: ""), :style, "", "Banner / Shield", "Banner / Shield" %>
      <% end %>
    </p>
    <p class="line-clamp-1 break-all">
      by <%= profile_link @banner.user %>
    </p>
  </div>
<% end %>