<div class="flex justify-center" data-turbo="false">
  <div class="max-w-lg text-white w-full">
    <%= form_for(banner, url: update_banner_moderate_path) do |form| %>
      <div class="flex flex-col gap-2">
        <%= render partial: "form_fields", locals: {form: form, banner: banner} %>

        <div>
          <div class="flex gap-1 items-center">
            <%= form.check_box :hidden %>
            <%= form.label :hidden, class: "select-none" %>
          </div>
          <span class="text-sm text-gray-400">
            Hidden banners do not show up in the gallery. Use only if the banner has violated the rules.
          </span>
        </div>

        <div class="flex flex-col gap-1">
          <%= label_tag :reason %>
          <%= text_field_tag :reason, "", class: "text-black", placeholder: "Reason for moderating this banner.", required: true %>
        </div>

        <div class="mt-2 flex flex-col xs:flex-row gap-1 xs:gap-2">
          <%= form.submit "Save", class: "btn-ncs h-auto" %>
          <%= link_to "Cancel", banner, class: "btn-ncs" %>
        </div>
      </div>
    <% end %>
  </div>
</div>