<%
  recent_skins = user.skins.order_by_updated.first(10).pluck(:name, :id)
%>
<%= form_with model: user do |form| %>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <%= form.label :display_name %>
      <%= form.text_field :display_name, class: "text-black" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :biography, "Biography (Markdown Formatted)" %>
      <%= form.text_area :biography, class: "text-black", rows: 8 %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :attribution_message, "Attribution Message (Max 64, ASCII Characters)" %>
      <%= form.text_field :attribution_message, class: "text-black", maxlength: 64, pattern: '^[ -~]+$' %>
      <p class="text-sm text-slate-300">This will be used instead of your username inside skin watermarks.</p>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :featured_skin_id %>
      <%= form.select :featured_skin_id, recent_skins, {include_blank: "-- Always Show Latest --"}, class: "text-black capitalize p-1" %>
    </div>

    <div class="flex gap-2">
      <%= form.submit "Save", class: "btn-ncs" %>
      <%= link_to "Cancel", user, class: "btn-ncs" %>
    </div>
  </div>
<% end %>