<%
  recent_skins = user.skins.visible.order_by_updated.first(10).pluck(:name, :id)
  badges = user.badges.pluck(:name, :id)
%>
<%= form_with model: user do |form| %>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <%= form.label :display_name %>
      <%= form.text_field :display_name, class: "text-black" %>
    </div>
    <p class="text-sm text-slate-300">
      If you wish to change your username, please <%= link_to "contact us", contact_path, class: "underline" %>.
    </p>

    <div class="flex flex-col gap-1">
      <%= form.label :biography, "Biography (Markdown Formatted)" %>
      <%= form.text_area :biography, class: "text-black", rows: 8 %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :attribution_message, "Attribution Message (Max 64, ASCII Characters)" %>
      <%= form.text_field :attribution_message, class: "text-black", maxlength: 64, pattern: '^[ -~]+$' %>
      <p class="text-sm text-slate-300">This will be used instead of your username inside skin watermarks.</p>
    </div>

    <div class="flex flex-col gap-1">
      <div class="flex items-center gap-1">
        <%= form.check_box :watermark_disabled %>
        <%= form.label :watermark_disabled, "Disable Skin Watermarking?" %>
      </div>
      <p class="text-sm text-slate-300">
        Disabling this will mean skins you upload will not be watermarked.
        They will not be able to be linked back to you if downloaded,
        then later uploaded again. This will not affect skins you have already uploaded.
      </p>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :featured_skin_id %>
      <%= form.select :featured_skin_id, recent_skins, {include_blank: "-- Always Show Latest --"}, class: "text-black capitalize p-1" %>
      <p class="text-sm text-slate-300">
        Chosen skin will be shown on your profile page. You can also change this from
        a skin's page.
      </p>
    </div>

    <% if user.badges.any? %>
      <div class="flex flex-col gap-1">
        <%= form.label :featured_badge_id %>
        <%= form.select :featured_badge_id, badges, {include_blank: "-- None --"}, class: "text-black capitalize p-1" %>
        <p class="text-sm text-slate-300">
          Chosen badge will be displayed next to your username.
        </p>
      </div>
    <% end %>

    <div class="flex gap-2">
      <%= form.submit "Save", class: "btn-ncs" %>
      <%= link_to "Cancel", user, class: "btn-ncs" %>
    </div>
  </div>
<% end %>