<% content_for :scripts do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="w-full bg-ncs-tweed bg-ncs-gray-700 rounded text-white">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="flex flex-col bg-ncs-grid basis-2/5">
      <div
        class="flex items-center flex-wrap bg-ncs-gray-400 px-2 py-1
        bg-gradient-to-b from-ncs-gray-200"
      >
        <h1 class="text-2xl mr-2 line-clamp-1 break-all" title="<%= @user.display_name %>">
          <%= @user.display_name %>
          <% if @user.role? %>
            <img class="inline w-6" src="/ncsassets/img/medals/<%= @user.role %>.png" alt="<%= @user.role.titleize %>" title="<%= @user.role.titleize %>" style="image-rendering: pixelated;">
          <% end %>
        </h1>
        <span class="text-2xl text-gray-500">@<%= @user.name %></span>
      </div>
      <div class="relative h-full">
        <%= render partial: "skins/skin_3d", locals: { data: @user.featured_skin_data } %>
        <div class="absolute top-0 bottom-0 left-0 w-12 mob:hidden"></div>
        <div class="absolute top-0 bottom-0 right-0 w-12 mob:hidden"></div>
      </div>
      <script>
        skinViewer.nameTag = "<%= @user.name %>"
      </script>
    </div>
    <div class="flex flex-col gap-2 p-4 grow">
      <div class="bg-ncs-gray-300 rounded p-4 w-full">
        <h2 class="text-xl text-gray-500">Biography</h2>
        <div class="prose prose-invert">
          <% if @user.biography.present? %>
            <%= markdown @user.biography %>
          <% else %>
            <p>A Miner in Need of Cooler Shoes...</p>
          <% end %>
        </div>
      </div>
      <div class="bg-ncs-gray-300 rounded p-4 w-full">
        <h2 class="text-xl text-gray-500">Stats</h2>
        <table class="text-left">
          <tr>
            <th class="pr-4">Joined:</th>
            <td><%= simple_date @user.created_at %></td>
          </tr>
          <tr>
            <th class="pr-4">Public Skins:</th>
            <td><%= simple_number @user.skins.is_public.count %></td>
          </tr>
          <tr class="bg-rainbow-animated">
            <th class="pr-4">Pixels:</th>
            <td><%= simple_number @user.pixels! %></td>
          </tr>
        </table>
      </div>
      <% if @user.badges.any? %>
        <div class="relative flex flex-wrap gap-2 bg-ncs-gray-300 rounded px-4 py-2 w-full">
          <% @user.user_badges.each do |user_badge| %>
            <% badge = user_badge.badge %>
            <div class="ncs-selectable cursor-pointer" tabindex="0">
              <img width="32" height="32" title="<%= badge.name %>" src="<%= badge.url %>" alt="<%= badge.name %>">
              <div class="cursor-auto overlay z-50 absolute flex flex-wrap gap-2 bg-ncs-gray-300 rounded px-4 py-2 mt-1 left-2 right-2 shadow border border-gray-600">
                <h2 class="font-bold"><%= badge.name %></h2>
                <p class="text-gray-400">Granted on <%= simple_date user_badge.created_at %></p>
                <p class="text-gray-200"><%= badge.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div>
        <% if @user.can_user_edit?(current_user) %>
          <%= render partial: "actions_owner", locals: { user: @user } %>
        <% else %>
          <%= render partial: "actions_visitor", locals: { user: @user } %>
        <% end %>
      </div>
    </div>
  </div>
</div>