<footer class="flex flex-col items-center px-2 sm:px-4 pb-2 pt-1">
  <div class="flex flex-col gap-2 items-center sm:flex-row sm:justify-between text-sm max-w-ncs-content w-full">
    <div>
      <ul class="flex items-center flex-col sm:flex-row flex-wrap gap-1 sm:gap-2">
        <li><%= link_to "FAQ", faq_path, class: "text-black underline" %></li>
        <li><%= link_to "About", about_path, class: "text-black underline" %></li>
        <li><%= link_to "Contact", contact_path, class: "text-black underline" %></li>
        <li><%= link_to "Rules", rules_path, class: "text-black underline" %></li>
        <li><%= link_to "Donate", donate_path, class: "text-black underline" %></li>
        <li><%= link_to "Hall of Fame", badges_path, class: "text-black underline" %></li>
        <li><%= link_to "Moderation Log", modlog_path, class: "text-black underline" %></li>
        <li class="hidden sm:list-item">
          <span>|</span>
        </li>
        <li class="sm:hidden w-full py-2">
          <hr class="border-black w-full">
        </li>
        <li class="flex gap-2">
          <%= link_to "https://discord.gg/FEfbZYvQUa", target: "_blank", class: "text-black underline", title: "Join our Discord!" do %>
            <img src="/ncsassets/img/social/discord.svg" alt="Discord logo" class="w-4 h-4">
          <% end %>
          <%= link_to "https://mastodon.social/@needcoolershoes", target: "_blank", class: "text-black underline", title: "Follow us on Mastodon!", rel: "me" do %>
            <img src="/ncsassets/img/social/mastodon.svg" alt="Mastodon logo" class="w-4 h-4">
          <% end %>
          <%= link_to "https://bsky.app/profile/needcoolershoes.com", target: "_blank", class: "text-black underline", title: "Follow us on Bluesky!" do %>
            <img src="/ncsassets/img/social/bluesky.svg" alt="Bluesky logo" class="w-4 h-4">
          <% end %>
        </li>
      </ul>
    </div>
    <div>
      <p class="text-center">
        <span>NeedCoolerShoes <code title="NeedCoolerShoes revision">r:<%= ENV["NCRS_COMMIT_HASH"] %></code></span>
        by the
        <a href="/humans.txt" target="_blank" class="text-black underline">MNCS Restoration Team</a>
      </p>
    </div>
  </div>
  <ninja-keys style="z-index: 200;" data-controller="command-palette" data-command-palette-signed-in-value=<%= current_user.present? %>></ninja-keys>
</footer>