<% if Time.current.month == 6 %>
  <div id="pride" class="w-full h-[1px]"></div>
<% end %>
<%= yield :attention %>
<header class="sm:mx-16">
  <div class="flex items-center justify-center w-full">
    <div class="flex justify-between max-w-ncs-content w-full font-normal">
      <div class="grow navbar">
        <div class="flex justify-between px-3 sm:px-0">
          <a href="/" class="flex items-center gap-2 h-[47px] py-4">
            <img src="/ncsassets/img/header-2.png" alt="Site Logo" width="80" height="60"/>
            <p class="hidden sm:block uppercase text-sm text-white font-normal">Miners Need Cooler Shoes</p>
          </a>
          <div class="flex items-center gap-2">
            <% if current_user.present? %>
              <% if current_user.authorized?(:admin) %>
                <%= link_to "Admin", "/admin", class: "text-white underline" %>
                <span class="text-white">|</span>
              <% end %>
              <%= link_to current_user.name, current_user.to_path, title: "#{current_user.pixels} pixels", class: "text-white underline" %>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-white btn-none underline" %>
            <% else %>
              <%= link_to "Create an Account", new_user_registration_path, class: "text-white underline" %>
              <%= link_to "Sign In", new_user_session_path, class: "text-white underline" %>
            <% end %>
          </div>
        </div>

        <div class="h-[64px] bg-[#edce14] relative z-50 overflow-x-clip sm:overflow-x-visible">
          <div class="flex items-center justify-between gap-2 relative z-50 bg-ncs-flourish bg-repeat-x h-full px-3 sm:px-0">
            <%= render partial: "shared/header_nav" %>
            <div class="hidden md:block">
              <%= render partial: "shared/search", locals: { classes: "max-w-[12rem] lg:max-w-none" } %>
            </div>
          </div>

          <div class="absolute w-[64px] h-[80px] top-0 left-[-52px] sm:left-[-64px] bg-ncs-flourish-side"></div>
          <div class="absolute w-[64px] h-[80px] top-0 right-[-52px] sm:right-[-64px] bg-ncs-flourish-side -scale-x-100"></div>
        </div>
      </div>
    </div>
  </div>
</header>