<header class="flex items-center justify-center w-full pb-3.5">
  <div class="flex justify-between max-w-ncs-content w-full font-normal">
    <div class="grow navbar">
      <div class="flex justify-between">
        <div class="flex items-center gap-2 h-[47px] py-4">
          <a href="/"><img src="/ncsassets/img/header.png" /></a>
          <a href="/"><h1 class="uppercase text-sm text-white font-normal">Miners Need Cooler Shoes</h1></a>
        </div>
        <div class="flex items-center gap-2">
          <% if current_user.present? %>
            <%= link_to current_user.name, "", class: "text-white underline" %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-white btn-none underline" %>
          <% else %>
            <%= link_to "Create an Account", new_user_registration_path, class: "text-white underline" %>
            <%= link_to "Sign In", new_user_session_path, class: "text-white underline" %>
          <% end %>
        </div>
      </div>

      <div class="h-[53px] bg-ncs-flourish relative z-50">
        <%= render partial: "shared/header_nav" %>

        <div class="absolute w-[55px] h-[73px] -top-1 left-[-55px] bg-ncs-flourish bg-repeat bg-bottom"></div>
        <div class="absolute w-[55px] h-[73px] -top-1 right-[-55px] bg-ncs-flourish bg-repeat bg-bottom -scale-x-100"></div>
      </div>
    </div>
  </div>
</header>