<%
  skin ||= attribution.attributed_skin
  icons = true unless defined?(icons)
%>
<% if skin.cc_by_sa_4_license? %>
  <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
    <a property="dct:title" rel="cc:attributionURL" href="<%= skin_url(skin) %>" class="underline"><%= skin.name %></a> <%= t "skins.attributions.cc_by_sa_4.by" %>
    <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="<%= user_url(skin.user) %>" class="underline"><%= skin.user.display_name %></a>
    <%= t "skins.attributions.cc_by_sa_4.attribute" %>
    <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
      <span class="underline">CC BY-SA 4.0</span>
      <% if icons %>
        <img style="height:22px;" class="inline ml-1" src="<%= image_path("cc/logo.svg") %>">
        <img style="height:22px;" class="inline" src="<%= image_path("cc/by.svg") %>">
        <img style="height:22px;" class="inline" src="<%= image_path("cc/sa.svg") %>">
      <% end %>
    </a>
  </p>
<% elsif skin.cc0_license? %>
  <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
    <a property="dct:title" rel="cc:attributionURL" href="<%= skin_url(skin) %>" class="underline"><%= skin.name %></a> <%= t "skins.attributions.cc0.by" %>
    <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="<%= user_url(skin.user) %>" class="underline"><%= skin.user.display_name %></a>
    <%= t "skins.attributions.cc0.attribute" %>
    <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
      <span class="underline">CC0 1.0</span>
      <% if icons %>
        <img style="height:22px;" class="inline ml-1" src="<%= image_path("cc/logo.svg") %>">
        <img style="height:22px;" class="inline" src="<%= image_path("cc/zero.svg") %>">
      <% end %>
    </a>
  </p>
<% elsif skin.mncs_license? %>
  <p>
    <a property="dct:title" rel="cc:attributionURL" href="<%= skin_url(skin) %>" class="underline"><%= skin.name %></a> <%= t "skins.attributions.mncs.by" %>
    <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="<%= user_url(skin.user) %>" class="underline"><%= skin.user.display_name %></a>
    <%= t "skins.attributions.mncs.attribute" %>
    <a href="<%= mncs_terms_url %>" rel="license" class="underline"><%= t "skins.attributions.mncs.link" %></a>.
  </p>
<% else %>
  <p>
    <a property="dct:title" rel="cc:attributionURL" href="<%= skin_url(skin) %>" class="underline"><%= skin.name %></a> <%= t "skins.attributions.arr.by" %>
    <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="<%= user_url(skin.user) %>" class="underline"><%= skin.user.display_name %></a>
    <%= t "skins.attributions.arr.attribute" %>
  </p>
<% end %>