<!-- NOTHING TO TRANSLATE -->
<%
  licenses = Skin::LICENSES.map { |id, name| [name, id] }
%>
<%= form_with model: skin, url: update_skin_moderate_path do |form| %>
  <div class="flex flex-col gap-2">

    <%= render partial: "skins/form_fields", locals: {skin: skin, form: form} %>

    <div class="flex flex-col gap-1">
      <%= form.label :license %>
      <%= form.select :license, licenses, {}, class: "text-black p-1" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :minecraft_texture_url %>
      <%= form.text_field :minecraft_texture_url, class: "text-black p-1", pattern: '^https?:\/\/textures.minecraft.net\/texture\/\S+$' %>
    </div>

    <div>
      <div class="flex gap-1 items-center">
        <%= form.check_box :hidden %>
        <%= form.label :hidden, class: "select-none" %>
      </div>
      <span class="text-sm text-gray-400">
        Hidden skins do not show up in the gallery. Use only if the skin has violated the rules.
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <%= label_tag :reason %>
      <%= text_field_tag :reason, "", class: "text-black", placeholder: "Reason for moderating this skin.", required: true %>
    </div>

    <div class="flex gap-2">
      <%= form.submit "Save", class: "btn-ncs" %>
      <%= link_to "Cancel", skin, class: "btn-ncs" %>
    </div>
  </div>
<% end %>