<%
  visibilities = Skin.visibilities.keys.map { |key| [key.to_s.delete_prefix("is_").titleize, key] }
%>
<%= form_with model: skin do |form| %>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <%= form.label :name %>
      <%= form.text_field :name, class: "text-black" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :description, "Description (Optional, Markdown Formatted)" %>
      <%= form.text_area :description, class: "text-black" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :visibility %>
      <%= form.select :visibility, visibilities, {}, class: "text-black p-1" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :skin_part_id %>
      <%= form.select :skin_part_id, SkinPart.pluck(:name, :id), {}, class: "text-black capitalize p-1" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :skin_category_id %>
      <%= form.select :skin_category_id, SkinCategory.pluck(:name, :id), {}, class: "text-black capitalize p-1" %>
    </div>

    <div class="flex gap-2">
      <%= form.submit "Save", class: "btn-ncs" %>
      <%= link_to "Cancel", skin, class: "btn-ncs" %>
    </div>
  </div>
<% end %>