<%
  suffix ||= slim ? "-slim" : ""
  classes ||= "scaled"
  width ||= "192px"
  height ||= "204px"
  url ||= nil
%>
<div class="relative skin group" data-id="<%= url %>" data-save="<%= data %>" style="height: <%= height %>; width: <%= width %>;">
  <div class="<%= classes %> skin-preview skin-model<%= suffix %>">
    <div>
      <div class="face display-<%= id %>">
        <div class="face-overlay display-<%= id %>"></div>
      </div>
      <div style="display: flex;">
        <div class="right-arm<%= suffix %> display-<%= id %>">
          <div class="right-arm<%= suffix %>-overlay display-<%= id %>"></div>
        </div>
        <div class="torso display-<%= id %>">
          <div class="torso-overlay display-<%= id %>"></div>
        </div>
        <div class="left-arm<%= suffix %> display-<%= id %>">
          <div class="left-arm<%= suffix %>-overlay display-<%= id %>"></div>
        </div>
      </div>
      <div style="display: flex;">
        <div class="right-leg display-<%= id %>">
          <div class="right-leg-overlay display-<%= id %>"></div>
        </div>
        <div class="left-leg display-<%= id %>">
          <div class="left-leg-overlay display-<%= id %>"></div>
        </div>
      </div>
    </div>
    <div>
      <div class="face-back display-<%= id %>">
        <div class="face-overlay-back display-<%= id %>"></div>
      </div>
      <div style="display: flex;">
        <div class="left-arm<%= suffix %>-back display-<%= id %>">
          <div class="left-arm<%= suffix %>-overlay-back display-<%= id %>"></div>
        </div>
        <div class="torso-back display-<%= id %>">
          <div class="torso-overlay-back display-<%= id %>"></div>
        </div>
        <div class="right-arm<%= suffix %>-back display-<%= id %>">
          <div class="right-arm<%= suffix %>-overlay-back display-<%= id %>"></div>
        </div>
      </div>
      <div style="display: flex;">
        <div class="left-leg-back display-<%= id %>">
          <div class="left-leg-overlay-back display-<%= id %>"></div>
        </div>
        <div class="right-leg-back display-<%= id %>">
          <div class="right-leg-overlay-back display-<%= id %>"></div>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
</div>

<style>
  .display-<%= id %> {
    background-image: url('<%= data %>');
  }
</style>