<div class="flex flex-col gap-2 bg-ncs-yellow-200 py-2 px-4 rounded-b">
  <details>
    <summary class="cursor-pointer select-none">
      <h2 class="font-bold inline">Parts & Categories</h2>
    </summary>
    <div class="flex flex-col gap-2">
      <div>
        <h3 class="font-bold">Parts:</h3>
        <div class="flex flex-wrap gap-1 text-gray-600">
          <% SkinPart.all.each do |part| %>
            <%
              gallery_params = @gallery_params.merge({part: part.name})
              selected = (part.name == params[:part])
            %>
            <span class="flex items-center gap-1 before:content-['●'] first:before:content-none before:text-[0.5rem]">
              <%= link_to part.name, gallery_path(gallery_params), title: "#{part.name} - #{part.skins.count}", class: "#{ selected ? "font-bold" : nil }" %>
            </span>
          <% end %>
        </div>
      </div>
      <div>
        <h3 class="font-bold">Categories:</h3>
        <div class="flex flex-wrap items-center gap-1 text-gray-600">
          <% SkinCategory.all.each do |category| %>
            <%
              gallery_params = @gallery_params.merge({category: category.name})
              selected = (category.name == params[:category])
            %>
            <span class="flex items-center gap-1 before:content-['●'] first:before:content-none before:text-[0.5rem]">
              <%= link_to category.name, gallery_path(gallery_params), title: "#{category.name} - #{category.skins.count}", class: "#{ selected ? "font-bold" : nil }" %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </details>
  <details>
    <summary class="cursor-pointer select-none">
      <h2 class="font-bold inline">Misc</h2>
    </summary>
    <div class="flex flex-col gap-2">
      <div>
        <h3 class="font-bold">Models:</h3>
        <div class="flex flex-wrap gap-1 text-gray-600">
          <div class="flex flex-wrap items-center gap-1 text-gray-600">
            <% Skin.models.keys.each do |model| %>
              <%
                gallery_params = @gallery_params.merge({model: model})
                selected = (model == params[:model])
                count = Skin.by_model(model).count
              %>
              <span class="flex items-center gap-1 before:content-['●'] first:before:content-none before:text-[0.5rem]">
                <%= link_to model.titleize, gallery_path(gallery_params), title: "#{model.titleize} - #{count}", class: "#{ selected ? "font-bold" : nil }" %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h3 class="font-bold">Created At:</h3>
        <div class="flex flex-wrap gap-1 text-gray-600">
          <div class="flex flex-wrap items-center gap-1 text-gray-600">
            <%
              date_ranges = {
                today: 0, last_7_days: 7, last_30_days: 30, last_90_days: 90, last_year: 365
              }
            %>
            <% date_ranges.each do |title, offset| %>
              <%
                gallery_params = @gallery_params.merge({date_offset: offset})
                selected = (offset.to_s == params[:date_offset])
                count = Skin.created_after_days(offset).count
              %>
              <span class="flex items-center gap-1 before:content-['●'] first:before:content-none before:text-[0.5rem]">
                <%= link_to title.to_s.titleize, gallery_path(gallery_params), title: "#{title.to_s.titleize} - #{count}", class: "#{ selected ? "font-bold" : nil }" %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h3 class="font-bold">Popular Tags:</h3>
        <div class="flex flex-wrap gap-1 text-gray-600">
          <div class="flex flex-wrap items-center gap-1 text-gray-600">
            <% Skin.top_tags(10).each do |tag| %>
              <%
                gallery_params = @gallery_params.merge({tag: tag.name})
                selected = (tag.name == params[:tag])
              %>
              <span class="flex items-center gap-1 before:content-['●'] first:before:content-none before:text-[0.5rem]">
                <%= link_to tag.name, gallery_path(gallery_params), title: "#{tag.name} - #{tag.taggings_count}", class: "#{ selected ? "font-bold" : nil }" %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h3 class="font-bold">Order By:</h3>
        <div class="flex flex-wrap gap-1 text-gray-600">
          <div class="flex flex-wrap items-center gap-1 text-gray-600">
            <%
              orderings = {
                "favourite" => "Most Favourited",
                "new" => "Newest",
                "old" => "Oldest",
                "new_updated" => "Most Recently Updated",
                "old_updated" => "Least Recently Updated"
              }
            %>
            <% orderings.each do |order, title| %>
              <%
                gallery_params = @gallery_params.merge({order: order})
                selected = (order == params[:order])
              %>
              <span class="flex items-center gap-1 before:content-['●'] first:before:content-none before:text-[0.5rem]">
                <%= link_to title, gallery_path(gallery_params), class: "#{ selected ? "font-bold" : nil }" %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user.present? %>
        <div>
          <h3 class="font-bold">Relevant to Me:</h3>
          <div class="flex flex-wrap gap-1 text-gray-600">
            <div class="flex flex-wrap items-center gap-1 text-gray-600">
              <span class="flex items-center gap-1 before:content-['●'] first:before:content-none before:text-[0.5rem]">
                <% gallery_params = @gallery_params.merge(user: current_user.name); gallery_params.delete(:favourited_by) %>
                <%= link_to "My Skins", gallery_path(gallery_params), title: "#{current_user.display_name} - #{current_user.skins.count}", class: "#{ params[:user] == current_user.name ? "font-bold" : nil }" %>
              </span>
              <span class="flex items-center gap-1 before:content-['●'] first:before:content-none before:text-[0.5rem]">
                <% gallery_params = @gallery_params.merge(favourited_by: current_user.name); gallery_params.delete(:user) %>
                <%= link_to "My Favourites", gallery_path(gallery_params), title: "My Favourites - #{current_user.favourites.count}", class: "#{ params[:favourited_by] == current_user.name ? "font-bold" : nil }" %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </details>
</div>