<%
  size ||= 24
  show_guests ||= false
  redirect ||= gallery_path
%>
<%= turbo_frame_tag "favourite_" + dom_id(skin) do %>
  <% if current_user.present? %>
    <div>
      <% if skin.favourited_by?(current_user) %>
        <%= form_with url: destroy_skin_favourite_path(skin), method: :delete do |form| %>
          <div class="flex flex-col items-center">
            <%= form.button aria: { label: "Remove from Favourites" }, onclick: "event.stopImmediatePropagation()" do %>
              <%= heroicon "heart", variant: "solid", size: size, class: "text-red-500 hover:text-red-800", title: "Remove from Favourites" %>
            <% end %>
            <span class="leading-none text-xs text-gray-500">
              <%= simple_number skin.favourites.count if skin.favourites.count > 0 %>
            </span>
          </div>
          <%= form.hidden_field :redirect, value: redirect %>
          <%= form.hidden_field :size, value: size %>
        <% end %>
      <% else %>
        <%= form_with url: create_skin_favourite_path(skin) do |form| %>
          <div class="flex flex-col items-center">
            <%= form.button aria: { label: "Add to Favourites" }, onclick: "event.stopImmediatePropagation()" do %>
              <%= heroicon "heart", size: size, class: "text-red-500 hover:text-red-800", title: "Add to Favourites" %>
            <% end %>
            <span class="leading-none text-xs text-gray-500">
              <%= simple_number skin.favourites.count if skin.favourites.count > 0 %>
            </span>
          </div>
          <%= form.hidden_field :redirect, value: redirect %>
          <%= form.hidden_field :size, value: size %>
        <% end %>
      <% end %>
    </div>
  <% elsif show_guests %>
    <div class="flex flex-col items-center">
      <%= heroicon "heart", size: size, class: "text-gray-500", title: "Login to add to Favourites" %>
      <span class="leading-none text-xs text-gray-500">
        <%= simple_number skin.favourites.count if skin.favourites.count > 0 %>
      </span>
    </div>
  <% end %>
<% end %>