<%
  show_visibility ||= false
  icons = {
    is_public: "globe-alt",
    is_unlisted: "link",
    is_private: "eye-slash"
  }
%>
<div class="relative flex flex-col basis-[32%] rounded bg-white shadow cursor-pointer" onclick="window.location='<%= skin_path(skin) %>'">
  <% if show_visibility%>
    <div class="absolute top-0 left-0 p-2">
      <%= heroicon icons[skin.visibility.to_sym], class: "text-gray-500", title: skin.visibility.titleize %>
    </div>
  <% end %>
  <div class="absolute top-0 right-0 p-2">
    <%= render partial: "skin_favourite", locals: { skin: skin, user: current_user, show_guests: true } %>
  </div>
  <div class="flex items-center justify-center bg-ncs-grid rounded p-4 px-8">
    <%= render partial: "skin_2d", locals: { id: skin.id, data: skin.data, slim: skin.slim? } %>
  </div>
  <div class="p-4 pt-2">
    <% if skin.tags.any? %>
      <div class="line-clamp-1 text-gray-500 text-sm">
        <% skin.tags.each do |tag| %>
          <%= link_to tag.name, gallery_path(@gallery_params.merge(tag: tag.name)), title: "#{tag.name} - #{tag.taggings_count}", onclick: "event.stopImmediatePropagation()" %>
        <% end %>
      </div>
    <% end %>
    <%= link_to skin.name, skin, class: "text-2xl font-bold" %>
    <div class="flex flex-col font-bold">
      <p class="text-gray-500 text-sm">
        <%= link_to skin.skin_part.name, gallery_path(@gallery_params.merge(part: skin.skin_part.name)), class: "underline", onclick: "event.stopImmediatePropagation()" %>
        -
        <%= link_to skin.skin_category.name, gallery_path(@gallery_params.merge(category: skin.skin_category.name)), class: "underline", onclick: "event.stopImmediatePropagation()" %>
      </p>
      <p>
        by
        <%= link_to skin.user.display_name, skin.user, title: "#{skin.user.name} - #{simple_number(skin.user.pixels)} pixels", class: "underline", onclick: "event.stopImmediatePropagation()" %>
      </p>
    </div>
  </div>
</div>