<%= render partial: "shared/welcome" if params[:welcome].present? %>
<% content_for :title do %>
  <%= params[:user].present? ? "Skins by #{params[:user]}" : "Gallery" %>
  <%= params[:page].present? ? "(Page #{params[:page]})" : nil %>
<% end %>
<% content_for :message do %>
  <div>
    <%= render partial: "skin_filters" %>
  </div>
  <div class="md:hidden w-full pt-2">
    <%= render partial: "shared/search", locals: { classes: "w-full", btn_classes: "btn-ncs shrink w-auto" } %>
  </div>
<% end %>

<% if @jam.present? %>
  <div class="mt-2">
    <%= render partial: "jam_info", locals: { jam: @jam } %>
  </div>
<% end %>

<%= render partial: "shared/pagy_nav", locals: { pagy: @pagy } %>
<div class="flex justify-center gap-4 flex-wrap">
  <% @skins.each do |skin| %>
    <%
      show_visibility = false
      show_visibility = true if current_user.present? && skin.user == current_user
    %>
    <div class="basis-[32%]">
      <%= render partial: "skin_index", locals: { skin: skin, show_visibility: show_visibility  }%>
    </div>
  <% end %>
</div>
<%= render partial: "shared/pagy_nav", locals: { pagy: @pagy } %>