<!-- NOTHING TO TRANSLATE -->

<%= render partial: "shared/welcome" if params[:welcome].present? %>

<% content_for :filters do %>
  <%= render partial: "skins/index/skin_filters", locals: {params: @gallery_params, skins: @skins_all} %>
<% end %>

<% content_for :before_gallery do %>
  <div class="md:hidden w-full pt-2">
    <%= render partial: "shared/search", locals: { classes: "w-full", btn_classes: "btn-ncs shrink w-auto" } %>
  </div>
<% end %>

<% if @jam.present? %>
  <div class="mt-2">
    <%= render partial: "skins/index/jam_info", locals: { jam: @jam } %>
  </div>
<% end %>

<%= render partial: "shared/pagy_nav", locals: { pagy: @pagy } %>

<div class="grow">
  <% if !@skins.any? %>
    <div class="flex flex-col gap-2 items-center">
      <h3 class="text-4xl font-bold text-white">NO SKINS?</h3>
      <img src="/ncsassets/img/megamewnd.png" width="350" height="465.45" alt="Mascot">
      <p class="text-ncs-dark-300">Current search / filters yield no results.</p>
    </div>
  <% end %>
  <div class="grid grid-cols-1 mob:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <%= render Gallery::SkinCardComponent.with_collection(@skins, params: @gallery_params, show_visibility: current_user) %>
  </div>
</div>
<%= render partial: "shared/pagy_nav", locals: { pagy: @pagy } %>