<% content_for :scripts do %>
  <meta name="turbo-visit-control" content="reload">
  <script src="/ncsassets/js/jquery.min.js"></script>
<% end %>

<div class="flex gap-2">
  <div class="max-w-[364px] w-full">
    <div class="col-left flex flex-col gap-2">
      <div class="checker-border bg-ncs-grid">
        <%= render partial: "skin_3d", locals: { data: @skin.data } %>
        <% if current_user.present? %>
          <script>
            skinViewer.nameTag = "<%= current_user.name %>"
          </script>
        <% end %>
        <script src="/ncsassets/js/skins.js"></script>
      </div>
      <div
        class="model" data-user-id="<%= @skin.user_id %>" data-id="<%= @skin.id %>"
        data-local="<%= @skin.data %>" data-save="<%= @skin.data %>"
      ></div>
      <div>
        <button
          onclick="editSkin('<%= @skin.data %>', <%= @skin.id %>, '/')"
          class="edit btn-ncs" <%= @skin.can_user_edit?(current_user) ? nil : "disabled" %>
        >
          <%= t("skins.editor") %>
        </button>
        <button class="minecraft btn-ncs" disabled><%= t "skins.change_skin" %></button>
        <button onclick="download('<%= @skin.data %>', 'download.png')" class="download btn-ncs"><%= t "skins.download"  %></button>
        <% if @skin.user == current_user %>
          <%= form_with model: current_user, url: update_profile_path do |form| %>
            <%= form.hidden_field :featured_skin_id, value: @skin.id %>
            <%= form.submit t("skins.feature"), class: "btn-ncs", title: t("skins.feature_tooltip") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grow">
    <div class="bg-white p-4">
      <h2 class="text-4xl font-bold"><%= @skin.name %></h2>
      <div class="flex flex-col font-bold">
        <p><%= @skin.skin_part.name %> - <%= @skin.skin_category.name %></p>
        <p>by <%= link_to @skin.user.display_name, gallery_path(user: @skin.user.name), class: "underline" %></p>
        <% if !@skin.can_user_edit?(current_user) %>
          <p><%= t "skins.status.unlisted_guest" %></p>
        <% elsif @skin.is_unlisted? %>
          <p><%= t "skins.status.unlisted_owner" %></p>
        <% end %>
        <% if @skin.is_private? %>
          <p><%= t "skins.status.private" %></p>
        <% end %>
      </div>
      <% if @skin.description.present? %>
        <div>
          <%= simple_format @skin.description %>
        </div>
      <% end %>
      <div class="flex gap-2 pt-2">
        <%= link_to t("skins.edit"), edit_skin_path(@skin), class: "btn-ncs" %>
        <%= form_with url: skin_path(@skin), method: :delete, class: "w-full" do |form| %>
          <%= form.submit t("skins.delete"), class: "btn-ncs", data: { "turbo-confirm": t("skins.delete_confirmation") } %>
        <% end %>
      </div>
    </div>
  </div>
</div>