<% content_for :title, "#{@skin.name.truncate(32)} by #{@skin.user.display_name}" %>
<% 
  content_for :meta_description do
    if @skin.description.present?
      desc = @skin.description.delete_suffix(".")
    else
      desc = "Skin by #{@skin.user.display_name}"
    end
    desc << ". A Minecraft skin, created with NeedCoolerShoes Skin Editor."
    desc[0, 130]
  end
%>
<% content_for :scripts do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="flex flex-col sm:flex-row items-center sm:items-start gap-2">
  <div class="max-w-[364px] sm:max-w-[250px] lg:max-w-[364px] w-full">
    <div class="col-left flex flex-col gap-2">
      <div class="relative checker-border bg-ncs-grid">
        <%= render partial: "skin_3d", locals: { data: @skin.data } %>
        <% if current_user.present? %>
          <script>
            skinViewer.nameTag = "<%= current_user.name %>"
          </script>
        <% end %>
        <div class="absolute top-0 bottom-0 left-0 w-12 mob:hidden"></div>
        <div class="absolute top-0 bottom-0 right-0 w-12 mob:hidden"></div>
        <script src="/ncsassets/js/skins.js"></script>
      </div>
      <div
        class="model" data-user-id="<%= @skin.user_id %>" data-id="<%= @skin.id %>"
        data-local="<%= @skin.data %>" data-save="<%= @skin.data %>"
      ></div>
      <div>
        <button
          onclick="editSkin('<%= @skin.data %>', '<%= @skin.attribution_string(true) %>', '/editor', '<%= @skin.slim? ? 'skinAlex' : 'skin' %>')"
          class="edit btn-ncs" <%= @skin.can_user_open_in_editor?(current_user) ? nil : "disabled" %>
        >
          <%= t("skins.editor") %>
        </button>
        <button class="minecraft btn-ncs" disabled><%= t "skins.change_skin" %></button>
        <%= link_to "Download to Computer", skin_download_path(@skin), class: "btn-ncs", data: { turbo: false } %>
        <% if @skin.user == current_user %>
          <%= form_with model: current_user, url: user_path(current_user) do |form| %>
            <%= form.hidden_field :featured_skin_id, value: @skin.id %>
            <%= form.submit t("skins.feature"), class: "btn-ncs", title: t("skins.feature_tooltip") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grow max-w-[364px] w-full sm:max-w-none">
    <div class="bg-white p-4">
      <div class="flex justify-between">
        <h2 class="text-4xl font-bold max-w-lg line-clamp-2" style="overflow-wrap: break-word;" title="<%= @skin.name %>"><%= @skin.name %></h2>
        <div>
          <%= render partial: "skin_favourite", locals: { skin: @skin, size: 32, redirect: skin_path(@skin) } %>
        </div>
      </div>
      <div class="flex flex-col font-bold">
        <p><%= @skin.skin_part.name %> - <%= @skin.skin_category.name %></p>
        <p>
          by <%= link_to @skin.user do %>
            <span class="underline"><%= @skin.user.display_name %></span>
            <% if (badge = @skin.user.featured_badge).present? %>
                <img class="inline w-4 border rounded-full box-content border-ncs-yellow-500 bg-ncs-yellow-500"
                src="<%= badge.url %>" alt="<%= badge.name %>" title="<%= badge.name %>">
            <% end %>
            <% if @skin.user.role? %>
              <img class="inline" src="/ncsassets/img/medals/<%= @skin.user.role %>.png" alt="<%= @skin.user.role.titleize %>" title="<%= @skin.user.role.titleize %>">
            <% end %>
          <% end %>
        </p>
        <% if @skin.tags.any? %>
          <div class="text-gray-500 text-sm flex gap-1 flex-wrap">
            <% @skin.tags.each do |tag| %>
              <%= link_to tag.name, gallery_path(tag: tag.name), title: "#{tag.name} - #{tag.taggings_count}" %>
            <% end %>
          </div>
        <% end %>
        <% if @skin.is_private? %>
          <p><%= t "skins.status.private" %></p>
        <% elsif !@skin.can_user_open_in_editor?(current_user) %>
          <p><%= t "skins.status.unlisted_guest" %></p>
        <% else @skin.is_unlisted? %>
          <p><%= t "skins.status.unlisted_owner" %></p>
        <% end %>
      </div>
      <% if @skin.description.present? %>
        <div class="prose">
          <%= markdown @skin.description %>
        </div>
      <% end %>
      <details>
        <summary class="select-none cursor-pointer font-bold">Attribution</summary>
        <div class="flex gap-2">
          <div id="attribution">
            <%= render partial: "attribution_text", locals: {skin: @skin, attribution: nil, icons: false} %>
          </div>
          <div class="relative">
            <button title="Copy" onclick="copyAttribution()">
              <%= heroicon "document-duplicate" %>
            </button>
            <span id="copy-text" class="hidden absolute -top-4 bg-ncs-gray-200 rounded-sm p-0.5 text-white text-sm select-none">
              Copied!
            </span>
          </div>
        </div>
      </details>
      
      <% if @skin.can_user_edit?(current_user) %>
        <div class="flex flex-col md:flex-row gap-2 pt-2">
          <%= link_to t("skins.edit"), edit_skin_path(@skin), class: "btn-ncs" %>
          <% if @skin.user == current_user %>
            <%= form_with url: skin_path(@skin), method: :delete, class: "w-full" do |form| %>
              <%= form.submit t("skins.delete"), class: "btn-ncs", data: { "turbo-confirm": t("skins.delete_confirmation") } %>
            <% end %>
          <% else %>
            <%= form_with model: @skin, method: :patch, class: "w-full" do |form| %>
              <% if @skin.hidden %>
                <%= form.hidden_field :hidden, value: false %>
                <%= form.submit t("skins.unhide"), class: "btn-ncs", data: { "turbo-confirm": t("skins.unhide_confirmation") } %>
              <% else %>
                <%= form.hidden_field :hidden, value: true %>
                <%= form.submit t("skins.hide"), class: "btn-ncs", data: { "turbo-confirm": t("skins.hide_confirmation") } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @skin.user == current_user %>
      <div class="bg-white p-4 mt-2">
        <h4 class="font-bold text-lg">My Stats</h4>
        <p>Total Favourites: <%= @skin.favourites.count %></p>
        <p>Total Downloads: <%= @skin.download_count || 0 %></p>
      </div>
    <% end %>
    <% if @attributions.any? %>
      <div class="bg-white p-4 mt-2">
        <h4 class="font-bold text-lg">Parts Used</h4>
        <div class="flex flex-wrap gap-2 items-start">
          <%= render partial: "attribution", collection: @attributions, as: :attribution %>
        </div>
        <details>
          <summary class="text-sm cursor-pointer select-none">Attribution Text</summary>
          <%= render partial: "attribution_text", collection: @attributions, as: :attribution %>
        </details>
      </div>
    <% end %>
    <% if @skin.variants.any? %>
    <div class="bg-white p-4 mt-2">
      <h4 class="font-bold text-lg">Used In</h4>
      <div class="flex flex-wrap gap-2 items-start">
        <%= render partial: "attribution", collection: @skin.variants, as: :attribution, locals: {variant: true} %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<script>
  // https://stackoverflow.com/questions/36639681/how-to-copy-text-from-a-div-to-clipboard
  function copyAttribution() {
    var range = document.createRange();
    range.selectNode(document.getElementById("attribution"));
    window.getSelection().removeAllRanges(); // clear current selection
    window.getSelection().addRange(range); // to select text
    document.execCommand("copy");
    window.getSelection().removeAllRanges();// to deselect

    const copied = document.getElementById("copy-text");
    copied.classList.remove("hidden", "hidden-fade");

    setTimeout(() => {
      copied.classList.add("hidden-fade");
    }, 200);
  }
</script>