<% content_for :title do "#{@skin.name} by #{@skin.user.display_name}" end %>
<% 
  content_for :meta_description do
    if @skin.description.present?
      desc = @skin.description.delete_suffix(".")
    else
      desc = "Skin by #{@skin.user.display_name}"
    end
    desc << ". A Minecraft skin, created with NeedCoolerShoes Skin Editor."
    desc[0, 130]
  end
%>
<% content_for :scripts do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="flex flex-col sm:flex-row items-center sm:items-start gap-2">
  <div class="max-w-[364px] w-full">
    <div class="col-left flex flex-col gap-2">
      <div class="checker-border bg-ncs-grid">
        <%= render partial: "skin_3d", locals: { data: @skin.data } %>
        <% if current_user.present? %>
          <script>
            skinViewer.nameTag = "<%= current_user.name %>"
          </script>
        <% end %>
        <script src="/ncsassets/js/skins.js"></script>
      </div>
      <div
        class="model" data-user-id="<%= @skin.user_id %>" data-id="<%= @skin.id %>"
        data-local="<%= @skin.data %>" data-save="<%= @skin.data %>"
      ></div>
      <div>
        <button
          onclick="editSkin('<%= @skin.data %>', <%= @skin.id %>, '/', '<%= @skin.slim? ? 'skinAlex' : 'skin' %>')"
          class="edit btn-ncs" <%= @skin.can_user_open_in_editor?(current_user) ? nil : "disabled" %>
        >
          <%= t("skins.editor") %>
        </button>
        <button class="minecraft btn-ncs" disabled><%= t "skins.change_skin" %></button>
        <%= link_to "Download to Computer", skin_download_path(@skin), class: "btn-ncs", data: { turbo: false } %>
        <% if @skin.user == current_user %>
          <%= form_with model: current_user, url: update_profile_path do |form| %>
            <%= form.hidden_field :featured_skin_id, value: @skin.id %>
            <%= form.submit t("skins.feature"), class: "btn-ncs", title: t("skins.feature_tooltip") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grow">
    <div class="bg-white p-4">
      <div class="flex justify-between">
        <h2 class="text-4xl font-bold"><%= @skin.name %></h2>
        <div>
          <%= render partial: "skin_favourite", locals: { skin: @skin, size: 32, redirect: skin_path(@skin) } %>
        </div>
      </div>
      <div class="flex flex-col font-bold">
        <p><%= @skin.skin_part.name %> - <%= @skin.skin_category.name %></p>
        <p>
          by <%= link_to @skin.user.display_name, @skin.user, class: "underline" %>
          <% if @skin.user.role? %>
            <img class="inline" src="/ncsassets/img/medals/<%= @skin.user.role %>.png" alt="<%= @skin.user.role.titleize %>" title="<%= @skin.user.role.titleize %>">
          <% end %>
        </p>
        <% if @skin.tags.any? %>
          <div class="text-gray-500 text-sm flex gap-1 flex-wrap">
            <% @skin.tags.each do |tag| %>
              <%= link_to tag.name, gallery_path(tag: tag.name), title: "#{tag.name} - #{tag.taggings_count}" %>
            <% end %>
          </div>
        <% end %>
        <% if !@skin.can_user_open_in_editor?(current_user) %>
          <p><%= t "skins.status.unlisted_guest" %></p>
        <% elsif @skin.is_unlisted? %>
          <p><%= t "skins.status.unlisted_owner" %></p>
        <% end %>
        <% if @skin.is_private? %>
          <p><%= t "skins.status.private" %></p>
        <% end %>
      </div>
      <% if @skin.description.present? %>
        <div class="prose">
          <%= markdown @skin.description %>
        </div>
      <% end %>
      <% if @skin.can_user_edit?(current_user) %>
        <div class="flex gap-2 pt-2">
          <%= link_to t("skins.edit"), edit_skin_path(@skin), class: "btn-ncs" %>
          <%= form_with url: skin_path(@skin), method: :delete, class: "w-full" do |form| %>
            <%= form.submit t("skins.delete"), class: "btn-ncs", data: { "turbo-confirm": t("skins.delete_confirmation") } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @skin.user == current_user %>
      <div class="bg-white p-4 mt-2">
        <h4 class="font-bold text-lg">My Stats</h4>
        <p>Total Favourites: <%= @skin.favourites.count %></p>
        <p>Total Downloads: <%= @skin.download_count || 0 %></p>
      </div>
    <% end %>
  </div>
</div>