<!-- TRANSLATED -->

<% content_for :scripts do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="flex flex-col sm:flex-row items-center sm:items-start gap-2">
  <div class="sm:max-w-[250px] lg:max-w-[364px] w-full">
    <div class="col-left flex flex-col gap-2">
      <div class="relative checker-border bg-ncs-grid">
        <div class="h-[320px] sm:h-[400px]">
          <%= render partial: "skin_3d", locals: { data: @skin.data, model: @skin.skinview_model } %>
        </div>
        <% if current_user.present? %>
          <script>
            skinViewer.nameTag = "<%= current_user.name %>"
          </script>
        <% end %>
        <div class="absolute top-0 bottom-0 left-0 w-12 sm:hidden"></div>
        <div class="absolute top-0 bottom-0 right-0 w-12 sm:hidden"></div>
        <script src="/ncsassets/js/skins.js"></script>
      </div>
      <div
        class="model hidden" data-user-id="<%= @skin.user_id %>" data-id="<%= @skin.id %>"
        data-local="<%= @skin.data %>" data-save="<%= @skin.data %>"
      ></div>
      <div>
        <% if @skin.user == current_user && @skin.user.featured_skin != @skin %>
          <%= form_with model: current_user, url: user_path(current_user) do |form| %>
            <%= form.hidden_field :featured_skin_id, value: @skin.id %>
            <%= form.submit t("skins.feature"), class: "btn-ncs", title: t("skins.feature_tooltip") %>
          <% end %>
        <% end %>
        <% if @skin.can_user_edit?(current_user) %>
          <% if @skin.user == current_user %>
            <%= link_to t("common.edit"), edit_skin_path(@skin), class: "btn-ncs" %>
          <% else %>
            <%= link_to t("common.moderate"), skin_moderate_path(@skin), class: "btn-ncs" %>
          <% end %>
        <% end %>
      </div>
      <div class="flex flex-col gap-1">
        <button
          onclick="editSkin('<%= @skin.data %>', '<%= @skin.attribution_string(true) %>', '/editor', '<%= @skin.slim? ? 'skinAlex' : 'skin' %>')"
          class="edit btn-ncs mb-0.5" <%= @skin.can_user_open_in_editor?(current_user) ? nil : "disabled" %>
        >
          <%= t("common.editor") %>
        </button>
        <%= link_to t("skins.change_skin"), skin_minecraft_upload_path(@skin), class: "btn-ncs mb-0.5" %>
        <%= link_to t("skins.download"), skin_download_path(@skin), class: "btn-ncs", data: { turbo: false } %>
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col gap-2">
    <div class="bg-ncs-dark-700 p-4 text-ncs-dark-100">
      <div class="flex justify-between">
        <h2 class="text-4xl font-bold max-w-lg line-clamp-2" style="overflow-wrap: break-word;" title="<%= @skin.name %>"><%= @skin.name %></h2>
        <div>
          <%= render partial: "skin_favourite", locals: { skin: @skin, size: 32, redirect: skin_path(@skin) } %>
        </div>
      </div>
      <div class="flex flex-col font-bold">
        <p class="text-ncs-dark-300"><%= @skin.skin_part.name %> - <%= @skin.skin_category.name %></p>
        <p>
          by <%= profile_link @skin.user %>
        </p>
        <% if @skin.tags.any? %>
          <div class="text-ncs-dark-300 text-sm flex gap-1 flex-wrap">
            <% @skin.tags.each do |tag| %>
              <%= link_to tag.name, skins_gallery_path(tag: tag.name), title: "#{tag.name} - #{tag.taggings_count}" %>
            <% end %>
          </div>
        <% end %>
        <% if @skin.hidden? %>
          <p>
            <%= t "skins.status.hidden.pt1" %>
            <%= link_to t("skins.status.hidden.modlog"), modlog_path(id: @skin.id, type: "Skin"), class: "underline" %>
            <%= t "skins.status.hidden.pt2" %>
          </p>
        <% elsif @skin.is_private? %>
          <p><%= t "skins.status.private" %></p>
        <% elsif @skin.is_unlisted? %>
          <% if !@skin.can_user_open_in_editor?(current_user) %>
            <p><%= t "skins.status.unlisted_guest" %></p>
          <% else %>
            <p><%= t "skins.status.unlisted_owner" %></p>
          <% end %>
        <% end %>
      </div>
      <% if @skin.description.present? %>
        <div class="prose prose-ncs-dark">
          <%= markdown @skin.description %>
        </div>
      <% end %>
      <details class="space-y-2">
        <summary class="select-none cursor-pointer font-bold"><%= t "skins.attributions.self" %></summary>
        <div class="relative">
          <button type="button" class="underline" onclick="copyText('<%= skin_url(@skin) %>', true)">
            Copy Link to this Skin
            <%= heroicon "document-duplicate", class: "inline" %>
          </button>
          <span class="copy-text hidden absolute -top-4 bg-ncs-dark-800 rounded-sm p-0.5 text-ncs-dark-100 text-sm select-none">
            <%= t "actions.copied" %>
          </span>
        </div>
        <fieldset class="border border-ncs-dark-300 p-2 rounded">
          <legend class="font-bold">Attribution</legend>
          <div class="flex gap-2">
            <div id="attribution" class="break-words">
              <%= render partial: "attribution_text", locals: {skin: @skin, attribution: nil, icons: false} %>
            </div>
            <div class="relative">
              <button title="<%= t "actions.copy" %>" onclick="copyText('attribution')">
                <%= heroicon "document-duplicate" %>
              </button>
              <span class="copy-text hidden absolute -top-4 bg-ncs-dark-800 rounded-sm p-0.5 text-ncs-dark-100 text-sm select-none">
                <%= t "actions.copied" %>
              </span>
            </div>
          </div>
        </fieldset>
        <fieldset class="border border-ncs-dark-300 p-2 rounded">
          <legend class="font-bold">Embed Skin</legend>
          <p>Add the following HTML to your site, to embed a preview of this skin. For more info, see
          <%= link_to "the guide", embeds_guide_path, class: "underline", target: "_blank" %>.</p>
          <div class="flex gap-2 mt-1">
            <textarea readonly="true" cols="5" name="embed" id="embed" class="grow resize bg-ncs-dark-800 border-ncs-dark-300" value="">&#60;iframe src="<%= skin_embed_url(@skin) %>" width="200" height="300" style="border: 0px"&#62;&#60;/iframe&#62;</textarea>
            <div class="relative">
              <button title="<%= t "actions.copy" %>" onclick="copyText('embed')">
                <%= heroicon "document-duplicate" %>
              </button>
              <span class="copy-text hidden absolute -top-4 bg-ncs-dark-800 rounded-sm p-0.5 text-ncs-dark-100 text-sm select-none">
                <%= t "actions.copied" %>
              </span>
            </div>
          </div>
        </fieldset>
      </details>
    </div>
    <% if @skin.minecraft_texture_url? %>
      <div class="bg-ncs-dark-700 text-ncs-dark-100">
        <div class="bg-ncs-dark-800 p-1">
          <h2>Give Player Head</h2>
        </div>
        <div class="flex gap-2 p-2">
          <textarea readonly="true" cols="5" name="give command"
            id="give-command" class="w-full resize bg-ncs-dark-800 border-ncs-dark-300" value=""
          ><%= @skin.to_player_head_command %></textarea>
          <div class="relative">
            <button title="<%= t "actions.copy" %>" onclick="copyText('give-command')">
              <%= heroicon "document-duplicate" %>
            </button>
            <span class="copy-text hidden absolute -top-4 bg-ncs-dark-800 rounded-sm p-0.5 text-ncs-dark-100 text-sm select-none">
              <%= t "actions.copied" %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <% if @skin.user == current_user %>
      <div class="bg-ncs-dark-700 text-ncs-dark-100">
        <div class="bg-ncs-dark-800 p-1">
          <h2>My Stats</h2>
        </div>
        <div class="p-2">
          <p>Total Favourites: <%= @skin.favourites.count %></p>
          <p>Total Downloads: <%= @skin.download_count || 0 %></p>
          <% if @skin.modlogs.any? %>
            <%= link_to "See moderation log", modlog_path(id: @skin.id, type: "Skin"), class: "underline text-ncs-dark-300 text-xs" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @attributions.any? %>
      <div class="bg-ncs-dark-700 text-ncs-dark-100">
        <div class="bg-ncs-dark-800 p-1">
          <h2>Parts Used</h2>
        </div>
        <div class="p-2">
          <div class="flex flex-wrap gap-2 items-start">
            <%= render partial: "attribution", collection: @attributions, as: :attribution %>
          </div>
          <details>
            <summary class="text-sm cursor-pointer select-none">Attribution Text</summary>
            <%= render partial: "attribution_text", collection: @attributions, as: :attribution %>
          </details>
        </div>
      </div>
    <% end %>
    <% if @variants.any? %>
      <div class="bg-ncs-dark-700 text-ncs-dark-100">
        <div class="bg-ncs-dark-800 p-1">
          <h2>Used In</h2>
        </div>
        <div class="p-2">
          <div class="flex flex-wrap gap-2 items-start">
            <%= render partial: "attribution", collection: @variants, as: :attribution, locals: {variant: true} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  // https://stackoverflow.com/questions/36639681/how-to-copy-text-from-a-div-to-clipboard
  function copyText(id, createText = false) {
    let element;
    if (createText) {
      element = document.createElement('span');
      element.innerText = id;
      document.body.append(element);
    } else {
      element = document.getElementById(id);
    }
    var range = document.createRange();
    range.selectNode(element);
    window.getSelection().removeAllRanges(); // clear current selection
    window.getSelection().addRange(range); // to select text
    document.execCommand("copy");
    window.getSelection().removeAllRanges();// to deselect

    const copied = element.parentElement.querySelector(".copy-text");
    copied.classList.remove("hidden", "hidden-fade");

    if (createText) { element.remove(); }

    setTimeout(() => {
      copied.classList.add("hidden-fade");
    }, 200);
  }
</script>