<% content_for :scripts do %>
  <meta name="turbo-visit-control" content="reload">
  <script src="/ncsassets/js/jquery.min.js"></script>
<% end %>

<div class="flex gap-2">
  <div class="max-w-[364px] w-full">
    <div class="col-left flex flex-col gap-2">
      <div class="checker-border bg-ncs-grid">
        <%= render partial: "skin_3d_new", locals: { data: @skin.data } %>
        <% if current_user.present? %>
          <script>
            skinViewer.nameTag = "<%= current_user.name %>"
          </script>
        <% end %>
      </div>
      <div
        class="model" data-user-id="<%= @skin.user_id %>" data-id="<%= @skin.id %>"
        data-local="<%= @skin.data %>" data-save="<%= @skin.data %>"
      ></div>
      <div>
        <button data-url="/" class="edit btn-ncs" <%= @skin.is_public? ? nil : "disabled" %>>
          Edit this Skin
        </button>
        <button class="minecraft btn-ncs" disabled>Change Minecraft.net Skin</button>
        <button class="download btn-ncs">Download to Computer</button>
        <% if @skin.user == current_user %>
          <%= form_with model: current_user, url: update_profile_path do |form| %>
            <%= form.hidden_field :featured_skin_id, value: @skin.id %>
            <%= form.submit "Feature Skin on Profile", class: "btn-ncs", title: "Display skin as your avatar on your profile." %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grow">
    <div class="bg-white p-4">
      <h2 class="text-4xl font-bold"><%= @skin.name %></h2>
      <div class="flex flex-col font-bold">
        <p><%= @skin.skin_part.name %> - <%= @skin.skin_category.name %></p>
        <p>by <%= link_to @skin.user.display_name, gallery_path(user: @skin.user.name), class: "underline" %></p>
        <% if @skin.is_unlisted? && !(current_user&.id == @skin.user_id) %>
          <p>This skin is marked as unlisted, and cannot be edited.</p>
        <% elsif @skin.is_unlisted? %>
          <p>This skin is marked as unlisted. It can be accessed by the link, but will not show up in the Gallery.</p>
        <% end %>
        <% if @skin.is_private? %>
          <p>This skin is marked as private. Only you can view it.</p>
        <% end %>
      </div>
      <% if @skin.description.present? %>
        <div>
          <%= simple_format @skin.description %>
        </div>
      <% end %>
    </div>
  </div>
</div>