<%= render partial: "shared/welcome" if params[:welcome].present? %>
<% content_for :title do "Skin Editor" end %>

<% content_for :styles do %>
  <%= stylesheet_link_tag 'skins' %>
  <link href="ncsassets/css/editor.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<% end %>

<% content_for :scripts do %>
  <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/jsframe.js/lib/jsframe.min.js"></script>
  <script src="ncsassets/js/canvas.js"></script>
  <script src="ncsassets/js/editor.js"></script>
  <script src="/ncsassets/js/editor/transporter.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/model.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/layer_model.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/layer_presenter.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/editor.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/keys.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/model_toggles.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/fill_mode.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/filter_mode.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/import_mode.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/paint_mode.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/share_mode.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/square_mode.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/toolbar.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/toolbox.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/brush_size_tool.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/color_picker_tool.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/filter_tool.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/tools/import_tool.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/color_panel.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/file_button.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/reference_img_button.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/input_button.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/search_panel.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/skin_loader_panel.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/share_tool.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/spinner.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/ui/toggle_button_tool.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/undo.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/redo.js" type="text/javascript"></script>
  <script src="/ncsassets/js/editor/custom.js" type="text/javascript"></script>
<% end %>

<% content_for :message do %>
  <p class="p-2 bg-ncs-yellow-200 mb-2">
    Want to stay up-to-date with the latest changes?
    <%= link_to "Join our Discord server!", "https://discord.gg/FEfbZYvQUa", class: "text-black underline" %>
  </p>
<% end %>

<div id="content">
  <script id="sharegalleryform" type="text/html">
    <% if current_user.present? %>
      <%= render partial: "skin_form" %>
    <% else %>
      <%= render partial: "sign_in_form" %>
    <% end %>
  </script>

  <script type="text/html" id="toggles-template">
    <div id="toggles">
      <div class="controls">
        <div title="hide/show skin overlay" class="overlay"></div>
        <div title="hide/show skin body" class="underlay"></div>
      </div>

      <div class="body">
        <div data-parts="head,hat" class="head"></div>
        <div data-parts="armR2,armR" class="armR"></div>
        <div data-parts="torso2,torso" class="torso"></div>
        <div data-parts="armL2,armL" class="armL"></div>
        <div data-parts="legR2,legR" class="legL"></div>
        <div data-parts="legL2,legL" class="legR"></div>
      </div>
    </div>
  </script>

  <template id="skin-2d">
    <%
      skin_config = {
        id: "%id%", url: "%url%\n%attribution%", suffix: "%suffix%", data: "%data%",
        classes: "scaled-sm", width: "102px", height: "96px"
      }
    %>
    <%= render layout: 'skins/skin_2d', locals: skin_config do |foo| %>
      <div class="absolute bottom-0 hidden group-hover:block w-full h-12 bg-black/60">
        <div class="p-1">
          <span class="text-white line-clamp-2" title="%name%">%name%</span>
          <span class="text-xs text-white line-clamp-1" title="by %author%">by %author%</span>
        </div>
      </div>
    <% end %>
  </template>

  <div id="editor">
    <div id="toolbox">
    </div>
    <div id="toolbar"></div>
    <div id="workspace" class="relative">
      <div id="drawing"></div>
      <div class="absolute top-0 p-1 cursor-pointer text-sm">
        <span class="theme-icon dusk-visible" onclick="workspace.classList.toggle('dark');workspace.classList.toggle('dusk')">
          <%= heroicon "moon", variant: "solid", size: 25, title: "Switch to Dark Theme" %>
        </span>
        <span class="theme-icon dark-visible" onclick="workspace.classList.toggle('dark')">
          <%= heroicon "sun", variant: "solid", size: 25, title: "Switch to Light Theme" %>
        </span>
        <span class="theme-icon light-visible" onclick="workspace.classList.toggle('dusk')">
          <%= heroicon "light-bulb", variant: "solid", size: 25, title: "Switch to Dusk Theme" %>
        </span>
      </div>
      <div class="absolute bottom-0 p-1 cursor-pointer text-sm">
        <script>
          var workspace = document.querySelector('#workspace')
          if (localStorage.getItem("model") == "skinAlex") {
            document.write('<span id="model-toggle">Switch to Classic Editor</span>')
          } else {
            document.write('<span id="model-toggle">Switch to Slim Editor</span>')
          }
        </script>
      </div>
    </div>
  </div>

  <div id="tip">
    <h3>TIP:</h3>
    Use the w, s, a, d keys to rotate the character 90 degrees. +/- to zoom. Arrows to pan. Use 0 to reset view. G to toggle grid.
  </div>
</div>