<h2 class="text-4xl text-center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post, authenticity_token: true) do |f| %>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "steve@example.com", autofocus: true, autocomplete: "email", class: "text-black" %>
    </div>

    <div class="flex flex-col">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "My Secret Password", value: resource.password, autocomplete: "current-password", class: "text-black" %>
    </div>

    <%= content_for?(:extra_session_fields) ? yield(:extra_session_fields) : nil %>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn-ncs" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<h4 class="mt-2">Please Note:</h4>
<p class="text-sm">
  This is a fan-made restoration of NeedCoolShoes.
</p>
<p class="text-sm">
  If you made an account on the old site,
  <strong>it will not exist here!</strong> If you haven't already, please create a new account.
</p>