<div class="flex flex-col gap-2 bg-ncs-dark-800 p-2 pb-4 rounded-b text-ncs-dark-100">
  <div>
    <% if !params.empty? %>
      <%= link_to "Clear All", banners_gallery_path, class: "underline text-ncs-dark-300" %>
    <% end %>
    <%= link_to "Random Banner", random_banner_path, class: "underline text-ncs-dark-300" %>
  </div>
  <hr class="border-ncs-dark-600 my-2 border-b-0 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Compatibility:</h3>
  <div class="flex flex-wrap gap-1 text-ncs-dark-100">
    <div class="flex flex-wrap items-center gap-2 text-ncs-dark-300">
      <%
        compatibilities = %w[survival command]
      %>
      <% compatibilities.each do |compat| %>
        <%= banners_gallery_filter_tag params, :compatibility, compat, "", compat.to_s.titleize %>
      <% end %>
    </div>
  </div>
  <hr class="border-ncs-dark-600 my-2 border-b-0 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Style:</h3>
  <div class="flex flex-wrap gap-1 text-ncs-dark-100">
    <div class="flex flex-wrap items-center gap-2 text-ncs-dark-300">
      <%
        styles = %w[banner shield]
      %>
      <% styles.each do |style| %>
        <%= banners_gallery_filter_tag params, :style, style, "", style.titleize %>
      <% end %>
    </div>
  </div>
  <hr class="border-ncs-dark-600 my-2 border-b-0 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Created At:</h3>
  <div class="flex flex-wrap gap-1 text-ncs-dark-100">
    <div class="flex flex-wrap items-center gap-2 text-ncs-dark-300">
      <%
        date_ranges = {
          today: "0", last_7_days: "7", last_30_days: "30", last_90_days: "90", last_year: "365"
        }
      %>
      <% date_ranges.each do |title, offset| %>
        <%= banners_gallery_filter_tag params, :date_offset, offset, "", title.to_s.titleize %>
      <% end %>
    </div>
  </div>
  <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Order By:</h3>
  <div class="flex flex-wrap gap-1 text-ncs-dark-100">
    <div class="flex flex-wrap items-center gap-2 text-ncs-dark-300">
      <%
        orderings = {
          "favourite" => "Most Favourited",
          "new" => "Newest",
          "old" => "Oldest",
          "new_updated" => "Most Recently Updated",
          "old_updated" => "Least Recently Updated"
        }
      %>
      <% orderings.each do |order, title| %>
        <%= banners_gallery_filter_tag params, :order, order, "", title %>
      <% end %>
      <% random = (params[:order].to_s.start_with?("random~") ? params[:order] : "random~#{seed64}" ) %>
      <%= banners_gallery_filter_tag params, :order, random, "", "Random" %>
    </div>
  </div>
  <% if current_user.present? %>
    <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
    <h3 class="font-bold text-ncs-dark-100">Relevant to Me:</h3>
    <div class="flex flex-wrap gap-1 text-ncs-dark-100">
      <div class="flex flex-wrap items-center gap-2 text-ncs-dark-300">
        <%= banners_gallery_filter_tag params.except(:favourited_by), :user, current_user.name, "", "My Banners" %>
        <%= banners_gallery_filter_tag params.except(:user), :favourited_by, current_user.name, "", "My Favourites" %>
      </div>
    </div>
  <% end %>
  <hr class="border-ncs-dark-600 my-2 w-3/4 mx-auto">
  <h3 class="font-bold text-ncs-dark-100">Popular Tags:</h3>
  <div class="flex flex-wrap gap-1 text-ncs-dark-100">
    <div class="flex flex-wrap items-center gap-2 text-ncs-dark-300">
      <% banners.top_tags(10).each do |tag| %>
        <%= banners_gallery_tag_filter_tag params, tag.name, "#{tag.name} - #{tag.taggings_count}" %>
      <% end %>
    </div>
  </div>
</div>