<!DOCTYPE html>
<html>
  <head>
    <title>Miners Need Cooler Shoes :: A fan made Restoration of needcoolshoes.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= content_for?(:scripts) ? yield(:scripts) : nil %>
    <%= render partial: "shared/favicons" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render partial: "shared/flash" %>
    <%= render partial: "shared/header" %>
    <main class="flex flex-col items-center justify-start grow">
      <div class="flex flex-col max-w-ncs-content w-full">
        <%= yield %>
      </div>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
