<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "shared/meta" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= content_for?(:styles) ? yield(:styles) : nil %>
    <%= javascript_importmap_tags %>
    <%= content_for?(:scripts) ? yield(:scripts) : nil %>
    <%= render partial: "shared/favicons" %>
    <%= render partial: "shared/preloads" %>
    <%= render partial: "shared/analytics" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render partial: "shared/flash" %>
    <%= render partial: "shared/header" %>
    <main class="flex flex-col items-center justify-start grow mx-3 sm:mx-16">
      <div class="flex flex-col max-w-ncs-content w-full">
        <% if content_for?(:message) %>
          <%= yield :message %>
        <% else %>
          <div class="h-3.5">
          </div>
        <% end %>
        
        <%= yield %>
      </div>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
