<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= content_for?(:title) ? "#{yield(:title)} -" : nil %>
      Miners Need Cooler Shoes :: Skin Editor
    </title>

    <%= render partial: "shared/meta" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render partial: "shared/favicons" %>
    <%= render partial: "shared/plausible" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render partial: "shared/flash" %>
    <%= yield :attention if content_for?(:attention) %>
    <div class="mx-3 sm:mx-16 mb-3.5">
      <%= render partial: "shared/header" %>
    </div>
    <main class="flex flex-col grow mx-3 sm:mx-16">
      <div class="flex justify-center">
        <div class="flex flex-col items-center gap-2 p-4 bg-ncs-tweed rounded text-white max-w-ncs-content w-full">
          <div class="flex flex-col max-w-md w-full py-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
