<!DOCTYPE html>
<html>
  <head>
    <title>Miners Need Cooler Shoes :: A fan made Restoration of needcoolshoes.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render partial: "shared/flash" %>
    <%= render partial: "shared/header" %>
    <main class="flex flex-col grow">
      <div class="flex justify-center">
        <div class="flex flex-col items-center gap-2 p-4 bg-ncs-tweed rounded text-white max-w-ncs-content w-full">
          <div class="flex flex-col max-w-sm w-full py-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
