<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= content_for?(:title) ? "#{yield(:title)} -" : nil %>
      Miners Need Cooler Shoes :: Skin Editor
    </title>

    <%= render partial: "shared/meta" %>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>
    <%= stylesheet_link_tag "legacy" %>

    <%= javascript_importmap_tags %>

    <%= content_for?(:styles) ? yield(:styles) : nil %>
    <%= content_for?(:scripts) ? yield(:scripts) : nil %>

    <%= render partial: "shared/favicons" %>
    <%= render partial: "shared/plausible" %>
  </head>

  <body id="unlogged" class="flex flex-col justify-center" data-turbo="false">
    <%= render partial: "shared/flash" %>
    <%= yield :attention if content_for?(:attention) %>

    <div class="flex flex-col items-center mx-3 sm:mx-16">
      <div class="w-[837px] mt-[80px]">
        <div class="relative h-[100px]">
          <img src="/ncsassets/img/legacy/header.png" class="absolute top-0 -left-[109px] max-w-none" alt="">
          <div class="absolute bottom-2 left-20 z-10 space-x-1">
            <a class="bg-[#257EC6] p-0.5 text-white hover:text-black" href="<%= editor_path %>">Skin Editor</a>
            <a class="bg-[#257EC6] p-0.5 text-white hover:text-black" href="<%= gallery_path %>">Gallery</a>
            <a class="bg-[#257EC6] p-0.5 text-white hover:text-black" href="<%= banner_path %>">Banner Editor</a>
          </div>
          <div class="absolute bottom-2 right-4 z-10 space-x-1">
            <a class="bg-black p-0.5 text-white hover:text-[#257EC6]" href="<%= new_user_registration_path %>">Sign Up</a>
            <a class="bg-black p-0.5 text-white hover:text-[#257EC6]" href="<%= new_user_session_path %>">Sign Up</a>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center w-full bg-[#FFFAEF]">
          <% if content_for?(:message) %>
            <%= yield :message %>
          <% else %>
            <div class="h-3.5">
            </div>
          <% end %>

          <%= yield %>

          <div class="w-full px-4 py-1">
            <p>
              Not enjoying the new editor?
              <a class="underline" href="/editor">Switch back to the old one.</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>