<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "shared/meta" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "marksmith" %>

    <%= javascript_importmap_tags %>
    <%= content_for?(:scripts) ? yield(:scripts) : nil %>
    <%= render partial: "shared/favicons" %>
    <%= render partial: "shared/analytics" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render partial: "shared/flash" %>
    <%= yield :attention if content_for?(:attention) %>
    <%= yield %>
  </body>
</html>
