<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "shared/meta" %>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

		<link href="ncsassets/css/css.css" rel="stylesheet" />
    <%= content_for?(:styles) ? yield(:styles) : nil %>

    <style></style>
    <%= render partial: "shared/favicons" %>
    <%= render partial: "shared/preloads" %>
    <%= render partial: "shared/analytics" %>
  </head>

  <body id="unlogged" class="flex flex-col !overflow-visible" data-turbo="false">
    <%= render partial: "shared/flash" %>
    <%= render partial: "shared/header" %>
    
    <div class="flex flex-col items-center mx-3 sm:mx-16">
      <div class="flex flex-col justify-center w-full max-w-ncs-content">
      <% if content_for?(:message) %>
        <%= yield :message %>
      <% else %>
        <div class="h-4">
        </div>
      <% end %>

        <%= yield %>

        <%= render partial: "shared/footer" %>
      </div>
    </div>
  
    <script>
      var App = App || {};
      App.config = {
        seed: "<%= seed64 %>",
        token: "oHJLuPxwpjbUiw9sJBbAtkJNgL6xI0H0WOeBQfza",
        s3: {
          suffix: {
            file: "files.needcoolshoes.com",
            temp: "temp.needcoolshoes.com",
          },
          prefix: { http: "http:\/\/", aws: "https:\/\/s3.amazonaws.com\/" },
        },
        userId: false,
      };
      App.data = {};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <%= content_for?(:scripts) ? yield(:scripts) : nil %>
  </body>
</html>