<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Miners Need Cooler Shoes :: A fan-made Restoration of Miners Need Cool Shoes</title>

    <meta
      name="keywords"
      content="minecraft, skin, editor, character, creator"
    />
    <meta
      name="description"
      content="Fan-made Miners Need Cool Shoes restoration. Make your own skins from scratch or edit existing skins in your browser using the skin editor. Browse our collection of community generated skins."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag "tailwind", "inter-font" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

		<link href="ncsassets/css/css.css" rel="stylesheet" />
    <%= content_for?(:styles) ? yield(:styles) : nil %>

    <style></style>
    <%= render partial: "shared/favicons" %>
    <%= render partial: "shared/plausible" %>
  </head>

  <body id="unlogged" class="flex flex-col !overflow-visible" data-turbo="false">
    <%= render partial: "shared/flash" %>
    <div class="grow mx-16">
      <%= render partial: "shared/header" %>
    </div>

    <div class="flex flex-col items-center mx-16">
      <div class="flex flex-col justify-center w-full max-w-ncs-content">

        <%= yield %>

        <%= render partial: "shared/footer" %>
      </div>
    </div>
  
    <script>
      var App = App || {};
      App.config = {
        token: "oHJLuPxwpjbUiw9sJBbAtkJNgL6xI0H0WOeBQfza",
        s3: {
          suffix: {
            file: "files.needcoolshoes.com",
            temp: "temp.needcoolshoes.com",
          },
          prefix: { http: "http:\/\/", aws: "https:\/\/s3.amazonaws.com\/" },
        },
        userId: false,
      };
      App.data = {};
    </script>
    <script src="ncsassets/js/jquery.min.js"></script>

    <%= content_for?(:scripts) ? yield(:scripts) : nil %>
  </body>
</html>